doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title login
    body 
    
    main 
        section 
            //- sign in
            .sign__in
                h1 Sign in
                .code 
                    input(type="number")
                    input(type="number")
                    input(type="number")
                p.code__text or use your email password
                .email__pasword 
                    input(type="email")
                    input(type="password")
                p.email__pasword__text or use your email password
                p.submit__btn
                    button(type="submit") Sign in
            //- sign up
            .sign__up
                .sign__up__container 
                    h1 Hello, Hotelier!
                    p.sign__up__text Register with your personal account to use this  apps
                    .sign__up__btn
                        button(type="submit") Sign up