doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title figma 
        //- css link start 
        link(rel="stylesheet", href="../css/style.css")
        //- css link finish
    body 
        header.header.container
            .nav__logo__container
                h1.nav__logo NB
                span new basketball
            nav.nav
                ul.nav__ul
                    li.nav__list
                        a.nav__link(href="#") Home
                    li.nav__list
                        a.nav__link(href="#") magazin
                    li.nav__list
                        a.nav__link(href="#") zakaz
                    li.nav__list
                        a.nav__link(href="#") o servis
                    li.nav__list
                        a.nav__link(href="#") pomosh

        main 
            section.container 
                .page__container
                    .glavni__left 
                        h1.glavni__title Нужны баскетбольные кроссовки?
                        p.glavni__text  Тут ты найдешь для себя лучшие кроссвоки для занятия баскетболом. У нас очень большой выбор!
                        p.btn
                            button ZAKAZ
                    .glavni__right
                        img(src="/imgs/imgs/kr.png", alt="")
                .reklama.container 
                    .reklama__container
                        h1 KRYie
                        img(src="/imgs/imgs/kita1.png", alt="")
                    .reklama__container
                        h1 JORDAN
                        img(src="/imgs/imgs/kita2.png", alt="")
                    .reklama__container
                        h1 LEBRON
                        img(src="/imgs/imgs/kita3.png", alt="")
                    .reklama__container
                        h1 ZOOM FREAK
                        img(src="/imgs/imgs/kita4.png", alt="")