doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    main 
        section 
            .sign__up
                    .sign__up__container 
                        h1 Welcome Back!
                        p.sign__up__text Enter your personal account to enter the website apps
                        .sign__up__btn
                            button(type="submit") SIGN IN
                            //- sign in
            .sign__in
                h1 Sign in
                .code 
                    input(type="number")
                    input(type="number")
                    input(type="number")
                p.code__text or use your email password
                .email__pasword 
                    input(type="text")
                    input(type="password")
                    input(type="password")
                p.submit__btn
                    button(type="submit") Sign in